.comments {
    padding: var(--padding-container);
}


.comments .btn {
    background-color: var(--color-dark-grey);
    margin-top: 1rem;
}

.comments-content {
    margin-top: 1rem;
}

.comments-content img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}



