.comments {
    padding: var(--padding-container);
    max-width: 600px;
    margin: auto;
}

.comments .btn {
    background-color: var(--color-dark-grey);
    margin-top: 1rem;
}

.comments-content {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.comments-content img {
    width: 75px;
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.comments-content__text {
    margin-left: 1rem;
}
