.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-container);
    max-width: 600px;
    margin: auto;
}

.login .heading {
    padding: 5rem 0;
}

.form--login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.form--login .form__input {
    margin: 1.5rem 0;
}

.form--login .btn {
    background-color: var(--color-dark-grey);
    margin-top: 3rem;
}

.login__signup-link {
    margin-top: 4rem;
}
