/* Css Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --color-black: #262626;
    --color-light-grey: #fafafa;
    --color-dark-grey: #C4C4C4;
    --padding-container: 1rem;
}

body {
    width: 100vw;
    font-family: sans-serif;
    color: var(--color-black);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

button {
    cursor: pointer;
}

textarea {
   resize: none;
   padding: 0.2rem;
   border: 1px solid var(--color-dark-grey);
}

.heading-l {
    font-size: 2rem;
}

.text-bold {
    font-weight: bold;
}

.btn {
    width: 100%;
    padding: 0.7rem 0;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.form__input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid var(--color-dark-grey);
    border-radius: 0.4rem;
    background-color: var(--color-light-grey);
}


