img {
    display: block;
    width: 300px;
}

.comments {
    display: flex;
}

.comments img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.comments span {
    font-weight: bold;
}
