.navbar {
    background-color: var(--color-light-grey);
    border-bottom: 1px solid var(--color-dark-grey);
    display: flex;
    justify-content: center;
    padding: var(--padding-container);
}

.navbar-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

.navbar__heading {
    white-space: nowrap;
}

.navbar__list {
    display: flex;
    width: 50%;
    justify-content: space-between;
    list-style: none;
}

.navbar__list img {
    height: 100%;
    display: block;
}
