.profile {
    padding: var(--padding-container);
    max-width: 1200px;
    margin: auto;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.profile-info__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile-description {
    margin-top: 1rem;
}

.profile .btn--lg {
    background-color: var(--color-dark-grey);
    margin-top: 1rem;
}

.profile-posts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.profile-posts__img {
    width: calc(100% / 3);
    display: block;
}
