.profile {
    padding: var(--padding-container);
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.profile-info__img {
    width: 80px;
    height: 80px;
    object-fit: center;
    object-position: center;
    border-radius: 50%;
}

.profile .btn--lg {
    background-color: var(--color-dark-grey);
}
