.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-container);
    max-width: 600px;
    margin: auto;
}

.register .heading {
    padding: 2rem 0;
}

.register__paragraph {
    text-align: center;
    padding-bottom: 2rem;
}

.form--register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--register .form__input {
    margin: 1.5rem 0;
}

.form--register .btn {
    background-color: var(--color-dark-grey);
    margin-top: 3rem;
}

.register__login-link {
    margin-top: 3rem;
}
