.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-container);
}

.register .heading {
    padding: 3rem 0;
}

.register__paragraph {
    text-align: center;
    padding-bottom: 2rem;
}

.form--register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--register .form__input {
    margin: 1.5rem 0;
}

.form--register .btn {
    background-color: var(--color-dark-grey);
    margin-top: 3rem;
}

.register__signup-link {
    margin-top: 4rem;
}
